output/
*.csv

# Datastore
datastore/.venv/
datastore/ocp_audit.db
datastore/ocp_audit.db-shm
datastore/ocp_audit.db-wal
!datastore/data/*.csv
__pycache__/
*.pyc

# Notebooks
notebook/.venv/
.ipynb_checkpoints/
